<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
        <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <connectionStrings>
    <add name="default" connectionString="Password=gucheng123;Persist Security Info=True;User ID=sa;Initial Catalog=CordWebApp;Data Source=." providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>